.invalid-feedback {
  display: block;
}

.page-contents {
  display: flex;
  justify-content: stretch;
  align-items: center;
  min-height: calc(100vh - 56px - 1rem);
}

.form-group label {
  font-size: var(--font-size-md);
}

::-webkit-input-placeholder {
  font-size: var(--font-size-md);
}
:-ms-input-placeholder {
  font-size: var(--font-size-md);
}
::placeholder {
  font-size: var(--font-size-md);
}
